*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle
build/

# Kotlin Multiplatform
**/build/

# iOS
*.framework
*.xcframework
DerivedData/
iosApp/build/
.idea/
